grammaire/validation_xml/Bibliotheque.dtd

<!ELEMENT root (element+)>
<!ELEMENT element (Mairie_gestionnaire, AP_cnu, Designation_longue, AP_num, Ap_voie, AP_cp, Type_d_equipement)>
<!ATTLIST element
          id CDATA #REQUIRED>
<!ELEMENT Mairie_gestionnaire (#PCDATA)>
<!ELEMENT AP_cnu (#PCDATA)>
<!ELEMENT Designation_longue (#PCDATA)>
<!ELEMENT AP_num (#PCDATA)>
<!ELEMENT Ap_voie (#PCDATA)>
<!ELEMENT AP_cp (#PCDATA)>
<!ELEMENT Type_d_equipement (#PCDATA)>